/* This will load Tailwindcss + all the overwrite from Yearn lib */
@import '@yearn/web-lib/dist/style.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;800&display=swap');

/* 🔵 - Yearn Finance ******************************************************
** Shorthand for some group of style used across the application
**************************************************************************/
.flex-row-center {@apply flex flex-row items-center;}
.flex-row-start {@apply flex flex-row items-start;}
.flex-col-start {@apply flex flex-col items-start;}
.flex-col-full {@apply flex flex-col w-full h-full;}


.feature {
	--x-px: calc(var(--x) * 1px);
	--y-px: calc(var(--y) * 1px);
	--opacity: var(--opacity);
	@apply w-full h-full;

	&:before,
	&:after {
		@apply pointer-events-none block absolute inset-0 top-0 left-0 w-full h-full z-[-1];
		content: "";
		z-index: -1;
		opacity: var(--opacity);
		background: radial-gradient(
			800px circle at var(--x-px) var(--y-px),
			var(--color),
			transparent 40%
		);
		transition: opacity 0.4s ease;
	}
	&:before {
		@apply pointer-events-none z-[-1];
	}
}